<p id="notice"><%= notice %></p>

<p>
  <strong>Firstname:</strong>
  <%= @child.first_name %>
</p>

<p>
  <strong>Lastname:</strong>
  <%= @child.last_name %>
</p>

<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
