<div class="bg">
	<div class="class col-xs-12 col-sm-9 col-md-9 col-lg-6 col-xl-4 mx-auto pt-5">
  <h2 class="text-center">Edit <%= resource_name.to_s.humanize %></h2>

	<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
			<%= f.error_notification %>
			
	  	<div class="form-group">
	    	<%= f.input :username, required: true, input_html: { class: "form-control"}, wrapper: false, label_html: { class: "label" } %>
	    </div>
	
	 	<div class="form-group">
	    	<%= f.input :email, required: true, input_html: { class: "form-control"}, wrapper: false, label_html: { class: "label" } %>
		</div>
		
		<div class="form-group">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
    </div>
		
		<div class="form-group">
	    	<%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, input_html: { class: "form-control"}, wrapper: false, label_html: { class: "label" } %>
		</div>
		
		<div class="form-group">
	    	<%= f.input :password_confirmation, required: false, input_html: { class: "form-control"}, wrapper: false, label_html: { class: "label" } %>
		</div>
		
		<div class="form-group">
	    	<%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: { class: "form-control"}, wrapper: false, label_html: { class: "label" } %>
		</div>
	
	  <%= f.button :submit, "Update", class:"btn btn-primary btn-block" %>
	<% end %>
	<hr/>
	<h3 class="title is-5 text-center">Cancel my account</h3>
  <p class="text-center">Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>
</div>
</div>
