<!--Masthead-->
<header class="masthead text-white text-center">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-xl-9 mx-auto">
        <h1 class="mb-5">Keep an eye out for new and exciting features</h1>
      </div>
    </div>
  </div>
</header>
<!--Icons Grid-->
<section class="features-icons bg-light text-center">
  <div class="container">
    <h2 class="mb-5">Welcome to your Daycare Manager</h2>
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fa fa-desktop m-auto"></i>
          </div>
          <h3>At the office</h3>
          <p class="lead mb-0">Featuring the ability to adapt to any size screen!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fa fa-mobile m-auto"></i>
          </div>
          <h3>On the go</h3>
          <p class="lead mb-0">Our service allows access from any device!</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fa fa-book m-auto"></i>
          </div>
          <h3>Daily reports</h3>
          <p class="lead mb-0">The ability to check your child's daily reports at any given moment!</p>
        </div>
      </div>
    </div>
  </div>
</section>
<!--Image Showcases-->
<section class="showcase">
  <div class="container-fluid p-0">
    <div class="row text-center no-gutters">
      <div class="col-lg-4 col-sm-6">
          <%= image_tag("showcase.jpeg", :class => "image-fluid showcase-img") %>
      </div>
      <div class="col-lg-4 col-sm-6">
          <%= image_tag("showcase4.jpeg", :class => "image-fluid showcase-img") %>
      </div>
      <div class="col-lg-4 col-sm-6">
          <%= image_tag("showcase2.jpeg", :class => "image-fluid showcase-img") %>
      </div>
      <div class="col-lg-4 col-sm-6">
          <%= image_tag("showcase3.jpeg", :class => "image-fluid showcase-img") %>
      </div>
      <div class="col-lg-4 col-sm-6">
          <%= image_tag("showcase1.jpeg", :class => "image-fluid showcase-img") %>
      </div>
      <div class="col-lg-4 col-sm-6">
          <%= image_tag("showcase5.jpg", :class => "image-fluid showcase-img") %>
      </div>
    </div>
  </div>
</section>
<!--Philosophy two column-->
<section class="philosophy">
  <div class="container-fluid">
    <div class="row">
    	<div class="col-lg-6">
    	  <h2 class="mb-5 text-center">Our Philosophy</h2>
    		<p class="lead">We know that greatness in a disruptive era requires bold ambition,
    		curious talent and a culture that believes we're smarter together.</p>
    		<p class="lead">We approach every challenge holistically, with best-in-class
    		expertise in data, creativity, media, technology, search, social and
    		more. We call this Alchemy. It has the power to build out clients'
    		brands and transform their business. And while it may seem like magic,
    		we've got it down to a science.</p>
    		<ul>
    		  <li>
            <i class="fa fa-star mr-2" style="font-size:30px;color:red;"></i>Education
          </li>
          <li>
            <i class="fa fa-star mr-2" style="font-size:30px;color:yellow;"></i>Learning
          </li>
          <li>
            <i class="fa fa-star mr-2" style="font-size:30px;color:blue;"></i>Exploring
          </li>
        </ul>
    		<br />
    	</div>
    	<div class="col-lg-6">
        <%= image_tag("philosophy.jpg", :class => "image-fluid") %>
    	</div>
    </div>
  </div>
</section>
<!--Team-->
<section class="team text-center mb-5">
  <div class="container">
    <h2 class="mb-5 text-center">Meet the team</h2>
      <div class="row">
        <div class="col-lg-6 mx-auto">  
          <p class="lead">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis  dis parturient montes, nascetur ridiculus </p><br>
        </div> 
      </div>
  	<div class="row">
  		<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		    <%= image_tag("team.jpeg", :class => "wide") %>
		   	<div class="team-member">
			   	<h4>John Doe</h4>
			   	<p>Web developer</p>
			   	</div>
			   	<p class="social">
			   		<a href="#"><span class="fa fa-facebook-square"></span></a>
			   		<a href="#"><span class="fa fa-twitter-square"></span></a>
			   		<a href="#"><span class="fa fa-linkedin-square"></span></a>
			   		<a href="#"><span class="fa fa-google-plus-square"></span></a>
			   	</p>
  		 </div>
  		 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		    <%= image_tag("team1.jpeg", :class => "wide") %>
		   	<div class="team-member">
			   	<h4>John Doe</h4>
			   	<p>Web developer</p>
			   	</div>
			   	<p class="social">
			   		<a href="#"><span class="fa fa-facebook-square"></span></a>
			   		<a href="#"><span class="fa fa-twitter-square"></span></a>
			   		<a href="#"><span class="fa fa-linkedin-square"></span></a>
			   		<a href="#"><span class="fa fa-google-plus-square"></span></a>
			   	</p>
  		 </div>
  		 <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
		    <%= image_tag("team2.jpeg", :class => "wide") %>
		   	<div class="team-member">
			   	<h4>John Doe</h4>
			   	<p>Web developer</p>
			   	</div>
			   	<p class="social">
			   		<a href="#"><span class="fa fa-facebook-square"></span></a>
			   		<a href="#"><span class="fa fa-twitter-square"></span></a>
			   		<a href="#"><span class="fa fa-linkedin-square"></span></a>
			   		<a href="#"><span class="fa fa-google-plus-square"></span></a>
			   	</p>
  		 </div>
  	</div>
  </div>    
</section>
<!--Footer-->
<footer>
  <div class="row text-center">
  	<div class="col-12">
  		<h2>Connect with us</h2>
  	</div>
  	<div class="col-12">
  	  <a href="https://www.facebook.com"><%= fa_stacked_icon "facebook-square", base: "square-o", class: "fa-2x" %></a>
  	  <a href="https://www.twitter.com"><%= fa_stacked_icon "twitter-square", base: "square-o", class: "fa-2x" %></a>
  	  <a href="https://www.instagram.com"><%= fa_stacked_icon "instagram", base: "square-o", class: "fa-2x" %></a>
  	</div>
  </div>
  <!--Copyright-->
  <div class="footer-copyright py-3 text-center">
      © 2018 Copyright:
  </div>
</footer>
