<div class="container">
  <% if has_role?(:admin) %>
    <%= link_to 'New Room', new_room_path, :class => "btn btn-primary" %>
  <% end %>
  <div class="row">
    <% @rooms.each do |room| %>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-4 col-xl-4 my-2">
      <%= link_to room do %>
        <% if room.room_image.blank? %>
          <% room.title %>
        <% else %>
          <%= image_tag room.room_image_url, :class => "img-thumbnail" %>
        <% end %>  
      <% end %>
      <% if has_role?(:admin) %>
        <%= link_to 'Edit', edit_room_path(room), :class => "btn btn-primary mt-1" %>
        <%= link_to 'Destroy', room, :class => "btn btn-danger mt-1", method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
<footer>
  <hr>
  <div class="row text-center">
  	<div class="col-12">
  		<h2>Connect with us</h2>
  	</div>
  	<div class="col-12">
  	  <a href="https://www.facebook.com"><%= fa_stacked_icon "facebook-square", base: "square-o", class: "fa-2x" %></a>
  	  <a href="https://www.twitter.com"><%= fa_stacked_icon "twitter-square", base: "square-o", class: "fa-2x" %></a>
  	  <a href="https://www.instagram.com"><%= fa_stacked_icon "instagram", base: "square-o", class: "fa-2x" %></a>
  	</div>
  </div>
  <div class="footer-copyright py-3 text-center">
      © 2018 Copyright:
  </div>
</footer>