<h1>Rooms</h1>

<div class="container">
  <div class="row">
    <% @rooms.each do |room| %>
    <div class="col-sm-4">
      <%= link_to room do %>
        <%= room.title %>
        <%= image_tag room.room_image_url, :class => "img-thumbnail" %>
      <% end %>
      <%= link_to 'Edit', edit_room_path(room) %>
      <%= link_to 'Destroy', room, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
  </div>
  <%= link_to 'New Room', new_room_path %>
</div>

