<%= simple_form_for(@report) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :meals %>
    <%= f.input :naps %>
    <%= f.input :bathroom %>
    <%= f.input :activities %>
    <%= f.input :summary %>
    <%= f.hidden_field :child_id %>

    <%#= f.input :child_id %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
