<div class="bg">
    <h1 class="text-center header-bg py-5 mb-5">Editing Daily Report</h1>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-6 col-xl-4 mx-auto">
  <%= simple_form_for(@report) do |f| %>
  <%= f.error_notification %>
  <div class="form-group">
	  <%= f.input :meals, required: false, input_html: { class: "form-control"}, wrapper: false, label_html: { class: "label" } %>
	</div>
	<div class="form-group">
	  <%= f.input :naps, required: false, input_html: { class: "form-control"}, wrapper: false, label_html: { class: "label" } %>
	</div>
	<div class="form-group">
	  <%= f.input :bathroom, required: false, input_html: { class: "form-control"}, wrapper: false, label_html: { class: "label" } %>
	</div>
	<div class="form-group">
	  <%= f.input :activities, required: false, input_html: { class: "form-control"}, wrapper: false, label_html: { class: "label" } %>
	</div>
	<div class="form-group">
	  <%= f.input :summary, required: false, input_html: { class: "form-control"}, wrapper: false, label_html: { class: "label" } %>
	</div>
  <div class="form-group">
  <%= f.button :submit, "Update", class:"btn btn-primary btn-block mt-3" %>
<% end %>
</div>
</div>

