<!DOCTYPE html>
<html>
  <head>
    <title>Daycare Manager</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <!-- Navigation -->
    <nav class="navbar navbar-expand-md navbar-custom">
      <%= link_to "Daycare Manager", root_path, class:"navbar-brand" %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
        <i class="fa fa-bars fa-lg py-1"></i>
      </button>
      <div class="navbar-collapse collapse justify-content-stretch" id="navbar">
        <ul class="navbar-nav ml-auto text-center">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to current_user.username, edit_user_registration_path, class:"btn btn-primary ml-auto mr-2" %>
              <%= link_to "Log Out", destroy_user_session_path, method: :delete, class:"btn btn-primary" %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary ml-auto mr-2" %>
              <%= link_to "Sign In", new_user_session_path, class: "btn btn-primary"%>
            </li>
          <% end %>
        </ul>
      </div>
    </nav>

    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %> mb-0">
        <%= value %>
      </div>
    <% end %>
    <div class="container-fluid full">
      <%= yield %>
    </div>
  </body>
</html>
